* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.swiper-slide {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}
.swiper-slide video {
  width: 100%;
  height: 100%;
  background-color: black;
}
video {
  width: 100%;
  height: 100%;
  /* -o-object-fit: cover;
  object-fit: cover; */
  pointer-events: none;
}



.blue-btn {
  width: 200px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out 0s, transform 0.2s;
  outline: none;
  background-image: linear-gradient(to right, rgb(37, 170, 225), rgb(68, 129, 235), rgb(4, 190, 254), rgb(63, 134, 237));
  box-shadow: rgb(65 132 234 / 75%) 0px 4px 15px 0px;
  text-transform: uppercase;
  margin-top: 40px;


}

.blue-btn:hover {
  background-position: 100% 0px;
  transform: scale(1.01, 1.01);

}

.PartnersView {
  background-image: url("./assets/images/page22.jpg"),url("./assets/images/page22.jpg");
  width: 100vw;
  background-position: right bottom, left top;
  background-repeat: repeat-y, repeat-y;
  background-size: 60px ;
  height: 100vh;
  
}


.loadingContainer {
  height: 100vh;
  width: 100wh;
  background-color:  rgb(1, 0, 19);
}
.loudingSpin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}


/* .aboutUS {
  background-image: url("./assets/images/page22.jpg"),url("./assets/images/page22.jpg");
  width: 100vw;
  background-position: right bottom, left top;
  background-repeat: repeat-y, repeat-y;
  background-size: 60px ;
  height: 100vh;
  
} */



/* navabr  */

/* #menu {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0%;
  list-style: none;
  border-radius: 50%;

}

.menu-button {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0%;
  top: 0%;
  color: #fff;
  border-radius: 50%;
  background-size: 100%;
  overflow: hidden;
  text-decoration: none;
  background-color: rgb(14, 116, 102);
  box-shadow: 0 0 3px 5px rgb(14, 116, 99);
}

.menu-button:active {
  scale: 0.8;
}

.icon-plus {
  padding: 18px 0px;
  text-align: center;
  letter-spacing: 1px;

}

.menu-logo {
  margin: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: hsla(0, 0%, 88%, 0.788);
}



#menu:not(:target)>a:first-of-type,
#menu:target>a:last-of-type {
  opacity: 1;
  z-index: 1;
}

#menu:not(:target)>.icon-plus:before,
#menu:target>.icon-minus:before {
  opacity: 1;
}

.menu-item {
  width: 65px;
  height: 50px;
  position: absolute;
  left: 0%;
  line-height: 5px;
  top: 20%;
  border-radius: 50%;
  transform: translate(0px, 0px);
  transition: transform 500ms;
  z-index: -2;
  color: beige;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  opacity: 0.8;




}

#menu:target>.menu-item:hover {
  opacity: 1;
  background-color: black;

}


.menu-item a {
  width: 75px;
  height: 50px;
  color: #dddddd;
  position: absolute;
  top: -4%;
  left: -3%;
  text-decoration: none;
  color: #dddddd;
  border-radius: 50%;
  display: grid;
  justify-content: center;
  align-items: center;






} */

/* first */
/* #menu:target>.menu-item:nth-child(8) {
  transform: rotate(-95deg) translateX(160px) rotate(95deg);
  transition-delay: 0.3s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;




} */

/* last */
/* #menu:target>.menu-item:nth-child(7) {
  transform: rotate(95deg) translateX(160px) rotate(-95deg);
  transition-delay: 0.3s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;




} */

/* team */
/* #menu:target>.menu-item:nth-child(6) {
  transform: rotate(60deg) translateX(150px) rotate(300deg);
  transition-delay: 0s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;



}

#menu:target>.menu-item:nth-child(5) {
  transform: rotate(20deg) translateX(155px) rotate(-20deg);
  transition-delay: 0.1s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;


} */

/* about */
/* #menu:target>.menu-item:nth-child(4) {
  transform: rotate(-20deg) translateX(155px) rotate(20deg);
  transition-delay: 0.2s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;
} */

/* home */
/* #menu:target>.menu-item:nth-child(3) {
  transform: rotate(-60deg) translateX(150px) rotate(-300deg);
  transition-delay: 0.3s;
  background-color: black;
  border: 2px solid beige;
  width: 75px;
  visibility: visible;
} */



/* @media screen and (max-width: 600px) {
  .swiper-slide img {
    height: 70vh;
  }

  .mySwiper {
    max-height: 70vh;
    width: 100vw;
  }
} */